@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
.body{
    font-family: 'Poppins', sans-serif;
}
.item-container{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.item-title{
    color: #274135;
}

.item-discreption{
    color: #fdf0d5;
}